# These owners will be the default owners for everything in the repo. 

*   @axa-group/bauta-team


# Maintainers must validate repository configuration files

/.github/   @axa-group/bauta-maintainers
