# These owners will be the default owners for everything in the repo. 

*   @axa-group/bauta-reviewers


# Admins must validate repository configuration files

/.github/workflows/   @axa-group/bauta-maintainers
/.github/CODEOWNERS   @axa-group/bauta-admins
