{
  "extends": ["axa-digital-node-typescript"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.base.json",
    "sourceType": "module"
  }
}
