*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
*.jtl
logs
target/*
.vscode
npm-shrinkwrap.json
.history/
.settings/
junit.xml
package-lock.json
*/**/package-lock.json
# Ignore the compiled output.
dist/

# TypeScript incremental compilation cache
*.tsbuildinfo